@font-face {
  font-family: "Barlow";
  src: url("barlow-medium-webfont.woff");
}
  
* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}
  
body {
  background-image: url("../images/leafpatterntall.jpg");
}
section{
  margin: 0 0 50px 0;
  box-sizing: border-box;
}
img {
    max-width: 100%;
}
a{
  cursor: pointer;
  text-decoration: none;
  color:#767676;
}

a:hover,a:focus,
li a:hover,li a:focus{
  color: #59A7FF;
  text-decoration: none;
  transition: 0.5s;
}
ul {
  list-style-type: none;
}
h1{
  font-size: 70px;
  font-weight: 600;
}
h2{
  font-size: 60px;
  font-weight: 600;
}
h3{
  font-size: 50px;
  font-weight: 600;
}
h4{
  font-size: 40px;
  font-weight: 600;
}
h5{
  font-size: 25px;
  font-weight: 600;
}
li{
  list-style: none;
}
.container {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  min-width: 16em;
  max-width: 80em;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-outer{
 padding: 50px 0px;
}
.container-inner{
  width:70%;
  margin:auto;
}

.flex-box{
  display: flex;
}

.hide,
.hide li{
  display: none;
}

.show-inline{
  display: inline-block;
}

.show-bloc{
  display: block;
}

  /* ## Embedded clearfix on container ## */
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  
  .star__graphic {
    width: 100%;
    height: 20px;
  }
  
  header {
      background: #fff;
  }
  
@media screen and (max-width: 1024px) {
  h1{
    font-size: 60px;
  }
  h3{
    font-size: 40px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size: 20px;
  }
  .flex-box{
    display: block;
  } 
}

@media screen and (max-width: 768px) {
  .container-inner{
    width:75%;
  }
}

/* 
////////////////////////////////////////////////////////////////
////////////////////////////BUTTON//////////////////////////////
////////////////////////////////////////////////////////////////
*/
.btn{
  box-sizing: border-box;
  margin-bottom: 30px;
}
a[class*="btn"]{
  border-radius: 6px;
  padding:6px 25px ;
  border-style: solid;
  color: #fff;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.5s;
  cursor:pointer;
}
a[class*="btn-frame"]:hover{
  border-color: #133D6B;
  color: #133D6B;
}
a[class*="btn-fill"]:hover{
  border-color: #133D6B;
  background-color: #133D6B;
}

a[class*="frame-red"]{
  border-color: #F25050;
  color: #F25050;
}

a[class*="fill-red"]{
  border-color: #F25050;
  background-color: #F25050;
}

a[class*="frame-yellow"]{
  border-color: #ECBF2F;
  color: #ECBF2F;
}

a[class*="fill-yellow"]{
  border-color: #ECBF2F;
  background-color: #ECBF2F;
}

a[class*="frame-blue"]{
  border-color: #59A7FF;
  color: #59A7FF;
}

a[class*="fill-blue"]{
  border-color: #59A7FF;
  background-color: #59A7FF;
}

  /* 
  ////////////////////////////////////////////////////////////////
  //////////////////HIDING DESKTOP MENU///////////////////////////
  ////////////////////////////////////////////////////////////////
  */

  .navbar__chat-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  
  .navbar__inner-chat-container {
    display: flex;
  }
  
  .navbar__logo-container {
    flex-grow: 1;
  }
  .navbar__btn-container{
    display: flex;
    align-self: center;
  }
  .navbar__btn-container a{
    margin :0 10px;
  }
  
  .navbar__menu {
    display: none;
  }
  
  .navbar__mobile-toggle {
    z-index: 10;
  }
  
  .navbar__mobile-toggle-show {
    display: block;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  @media (min-width: 768px) {
    .navbar__chat-container {
      padding-left: 30px;
    }
  }
  
  @media (min-width: 1024px) {
    .navbar__chat-container {
      order: -1;
      padding-left: 15px;
    }
  
    .navbar__logo-container {
      display: block;
    }
  
    .navbar__menu {
      display: block;
    }
  }
  
  /* 
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  
  /* 
  ////////////////////////////////////////////////////////////////
  //////////////////MOBILE MENU STYLES////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  .navbar__main {
    background-color: white;
  }
  
  .navbar__mobile-menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .navbar__mobile-logo {
    padding: 10px 0;
  }
  
  .navbar__mobile-logo-svg {
    width: 100%;
  }
  
  .navbar__mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar__mobile-contact-container {
    display: flex;
  }
  
  .navbar__mobile-toggle-container {
    display: flex;
    position: relative;
  }
  
  .navbar__mobile-svg {
    width: 17px;
    height: 17px;
    cursor: crosshair;
  }
  
  .navbar__mobile-phone-svg {
    padding-right: 10px;
  }
  
  .navbar__mobile-num-link {
    text-decoration: none;
    color: black;
  }
  
  .navbar__mobile-cart-num {
    background-color: pink;
    padding: 1px 4px;
    border-radius: 50%;
    font-size: 0.6875rem;
    position: absolute;
    right: 83px;
    top: 9px;
    cursor: pointer;
  }
  
  .navbar__mobile-menu-svg {
    width: 27px;
    height: 27px;
  }
  
  .navbar__mobile-cart-svg,
  .navbar__mobile-search-svg,
  .navbar__mobile-toggle-svg {
    padding: 0 10px;
    height: 25px;
  }
  
  .navbar__mobile-toggle-svg {
    padding: 0;
  }
  
  .navbar__mobile-close-svg {
    width: 20px;
    height: 20px;
  }
  
  .navbar__menu {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }
  
  .navbar__menu-list {
    margin-top: 5px;
    list-style: none;
    padding: 5px 0;
    background-color: #FFECEC;
  }
  
  .navbar__menu-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 17px;
  }
  
  .navbar__mobile-close-item {
    justify-content: flex-end;
  }
  
  .navbar__menu-list-item:last-child {
    padding-top: 50px;
    
  }
  
  .navbar__mobile-close-btn {
    border: none;
    background-color: transparent;
  }
  
  .navbar__menu-list-item a {
    color: #AC6161;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 600;
    transition: 0.5s;
  }
  
  .navbar__menu-list-item a:hover,
  .navbar__menu-list-item a:focus {
    color: #133D6B;
  }
  
  .navbar__menu-list-item-svg {
    width: 17px;
    height: 17px;
  }
  
  .navbar__mobile-newsletter-signup-title {
    color: #cf8484;
    font-size: 0.8125rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  
  .navbar__mobile-newsletter-signup-subtitle {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  
  .navbar__mobile-newsletter-input {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid black;
    padding: 15px 10px;
  }
  
  .navbar__mobile-newsletter-email-svg-container {
    display: flex;
    justify-content: end;
  }
  
  .navbar__mobile-newsletter-email-svg {
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    top: -35px;
  }
  
  .navbar__mobile-newsletter-button {
    background-color: #ffefbc;
    border: none;
    padding: 15px 20px;
    border-radius: 2px;
    font-size: 1rem;
    width: 100%;
  }
  
  .navbar__mobile-newsletter-button:hover,
  .navbar__mobile-newsletter-button:focus {
    background-color: #fddb6a;
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .navbar__mobile-logo {
      padding: 30px 0;
    }
  
    .navbar__mobile-svg {
      width: 27px;
      height: 27px;
    }
  
    .navbar__mobile-cart-num {
      right: 83px;
      top: 9px;
    }
  
    .navbar__menu {
      width: 55%;
    }
  
    .navbar__mobile-newsletter-card {
      width: 100%;
    }
  
    .navbar__mobile-newsletter-email-svg {
      left: -10px;
    }
  }
  
  @media (min-width: 1024px) {
    .navbar__mobile-menu {
      display: none;
    }
  
    .navbar__mobile-toggle-svg {
      display: none;
    }
  
    .navbar__mobile-close-item {
      display: none;
    }
  
    .navbar__menu-list-item:last-child {
      display: none;
    }
  
    .navbar__menu-list-item-svg {
      display: none;
    }
  }
  
  /* 
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  
  /* 
  ////////////////////////////////////////////////////////////////
  //////////////////DESKTOP MENU STYLES////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  
  .navbar__main-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
  }
  
  
  .navbar__search {
    display: none;
  }
  .signin-link-container {
      display: none;
    }
  .navbar__chat-svg {
    width: 20px;
    height: 20px;
  }
  
  .navbar__cart-svg {
    width: 25px;
    height: 25px;
  }
  
  .navbar__cart-container {
    padding-right: 15px;
  }
  
  .navbar__cart-link-container {
      position: relative;
      margin: 0 15px;
  }
  
  .navbar__inner-cart-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navbar__cart-num {
    background-color: pink;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    right: 5px;
    top: 11px;
    cursor: pointer;
  }
  
  
  .navbar__num {
    display: flex;
  }
  
  .navbar__chat {
    display: none;
  }
  
  @media (min-width: 768px) {
    .navbar__cart-container {
      padding-right: 30px;
    }
        
  }
  
  
  @media (min-width: 1024px) {
    .navbar__cart-container {
      display: flex;
      align-items: center;
    }
  
  
  
    .navbar__menu {
      width: 100%;
      position: static;
    }
  
    .navbar__menu-list {
      display: flex;
      justify-content: center;
      padding: 5 20px;
    }
  
    .navbar__logo-container {
      width: 50%;
    }
    .navbar__num {
      align-items: center;
      font-size: 0.875rem;
      font-weight: 600;
      padding-right: 15px;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px;
    }
    .navbar__num:hover {
      text-decoration: underline;
      color: #6495ed;
    }
  
    .navbar__phone-svg-container,
    .navbar__chat-svg-container {
      padding: 0 8px;
    }
  
    .navbar__chat {
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 5px;
      font-size: 0.875rem;
      font-weight: 600;
    }
  
    .navbar__chat:hover {
      text-decoration: underline;
      color: #6495ed;
    }
    
    .signin-link-container {
      display: block;
      position: relative;
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;
    }
  .signin-link-container:after {
      content:"";
      display: inline-block;
      position: absolute;
      top: -5px;
      right: 0px;
      width: 1px;
      height: 30px;
      background: #000;
      
  }
    .navbar__signin-link {
      text-decoration: none;
      color: black;
      padding: 0 15px;
      font-size: 0.875rem;
      font-weight: 600;
    }
  
    .navbar__signin-link:hover,
    .navbar__signin-link:focus {
      text-decoration: underline;
      color: #6495ed;
    }
  
  
    .navbar__search-link-container {
      padding: 0 5px;
    }
  
    .navbar__search-link-container {
      fill: #6495ed;
    }
  }
  
  
  
  /* 
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  
  /* 
  ////////////////////////////////////////////////////////////////
  //////////////////HERO SECTION STYLES///////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  .hero{
    margin-bottom: 0;
  }
  .hero__carousel-slide {
      position: relative;
  }
  
  .hero__carousel-img {
      height: 200px;
      overflow: hidden;
      transform-style: preserve-3d;
  }
  
  .hero__carousel-img img {
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: right;
    width: 100%;
    transition: 0.5s;
  }

  .slide-prev{
    transform: translateX(-100%);
    z-index: 10;
    opacity: 0;
    
  }
  .slide-next{
    transform: translateX(100%);
    z-index: 10;
    opacity: 0;
  }
  .slide-curr{
    transform: translateX(0);
    z-index: 0;
    opacity: 1;
  }
  /* .slide-prev-front{
    z-index: 20;
  }
  .slide-next-back{
    z-index: 0;
  } */

  /* slider arrow */
  .hero__carousel-leftArr,
  .hero__carousel-rightArr{
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
  }

  .hero__carousel-leftArr:active{
    transform:  rotate(180deg)  scale(1.1);
  }
  .hero__carousel-rightArr:active {
    transform: scale(1.1);
  }
  
  .hero__carousel-leftArr{
    left:5%;
    transform: rotate(180deg);
  }
  .hero__carousel-rightArr{
    right:5%;
  }
  
  .hero__outter-text-container {
      margin: 0 0 40px 0;
  }
  
  .hero__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  }
  
  .hero__inner-text-container {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 50px 40px;
  }
  .hero__inner-product-sale{
    display: flex;
    align-items: center;
    position: relative;
  }

  .hero__inner-product-sale h1{
    font-size: 80px;
    margin-left: 45px;
  }

  .hero__inner-product-saleTag{
    width:20%;
    position: absolute;
    top:10%;
  }

  .hero__product-mini-title,
  .hero__inner-product-mini-title {
    text-transform: uppercase;
  }

  .hero__inner-product-sale h1,
  .hero__inner-product-mini-title,
  .hero__inner-product-description{
    color:#F25050;
    padding:5px 0px;
  }
  .hero__inner-btn{
    font-size: 25px;
  }
  
  .hero__slide-graphic,
  .hero__inner-slide-graphic {
    padding-top: 20px;
  }
  
  .hero__button-container,
  .hero__inner-button-container {
    padding: 10px 0;
  }
  
  .hero__slide-button,
  .hero__inner-slide-button {
    background-color: #d5dc91 !important;
    border: 1px solid transparent !important;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .hero__inner-slide-button:hover,
  .hero__inner-slide-button:focus {
    background-color: #c1cc5f !important;
    border: 1px solid #d5dc91 !important;
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
      .hero__carousel-img {
          height: 400px;
      }
      .hero__carousel-img img {
          height: 400px;
      }
  }
  
  @media (min-width: 1024px) {
      .hero__carousel {
          background-color: #ffffff;
          background-image: url("../images/leafpatterntall.jpg");
          min-height: 585px;
      }
  
      .hero__carousel-slide {
          position: relative;
          min-height: 550px;
      }
      .hero__carousel-img {
          height: 550px;
          overflow: hidden;
      }
  
      .hero__carousel-img img {
          height: 550px;
      }
  
      .hero__text-container {
          display: none;
      }
  
      .hero__outter-text-container {
          width:28%;
          background-color: rgba(255, 255, 255, 0.5);
          min-width: 100px;
          min-height: 100px;
          margin: 0;
          position: absolute;
          bottom: 10%;
          left: 10%;
          border-radius: 8px;
      }
      .hero__product-title,
      .hero__inner-product-title {
        color:#AC6161;
        padding: 30px 0 60px 0;
      }
  }
  
  /* 
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  
  /* 
  ////////////////////////////////////////////////////////////////
  //////////////////PRODUCT SECTION STYLES////////////////////////
  ////////////////////////////////////////////////////////////////
  */
  .two-col-text-product{
    display: flex;
    background-color: #E6F3FF;
  }
 
  .three-col-product{
    display: flex;
    width:70%;
    padding: 10px 50px;
    align-items: center;
  }
  .product-item{
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
  }
  .product-item-inner-image{
    background-color: #fff;
    padding: 10% 5%;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  .product-item-text{
    display: flex;
  }

  .product-item-text-name{
    color:#767676;
    margin-right: 10px;
  }
  .product-item-text-price{
    color:#F25050;
    font-weight: 900;
  }






  .products {
    padding: 50px 0 20px;
  }
  
  .products__list {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .products__mini-title {
    text-transform: uppercase;
    color: #cf8484;
    font-weight: 600;
  }
  
  .products__title {
    font-size: 2.5625rem;
    font-weight: 400;
    text-align: center;
    width: 70%;
    padding-top: 15px;
  }
  
  .products__graphic {
    padding: 20px 0 10px 0;
  }
  
  .products__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  .products__list-item-container {
    background-color: white;
    width: 100%;
    border-radius: 15px;
  }
  
  .products__list-text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px 0;
  }
  
  .products__list-text {
    font-weight: 600;
  }
  
  .products__list-text-price {
    color: #7594b7;
    font-size: 1.5rem;
  }
  
  .products__button-container {
    padding: 10px 0;
  }
  
  .products__button {
    background-color: #ffefbc;
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .products__button:hover {
    background-color: #fddb6a;
    border: 1px solid #ffefbc;
    text-decoration: underline;
  }
  
  .products__list-item-img {
    padding: 20px 0 0 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  
  
  @media (min-width: 768px) {
    .products__list {
      align-items: center;
    }
  
    .products__list-item {
      width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .products__list {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 30px;
    }
  
    .products__title {
      width: 100%;
      text-align: start;
    }
  
    .products__graphic {
      width: 41%;
    }
  
    .products__list-item {
      width: 23%;
      padding: 0 15px;
    }
  
  
    .products__text-container {
      width: 19%;
      background-color: #fafafa;
      align-items: flex-start;
    }
  }
  
  
/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  


/* 
////////////////////////////////////////////////////////////////
//////////////////SHOPPING SECTION STYLES///////////////////////
////////////////////////////////////////////////////////////////
*/
section[class *="two-col"]{
  display: flex;
  height:500px;
}
.two-col-red{
  background-color: #FFEAEA;
}
.two-col-yellow{
  background-color: #FFF7DF;
}
div[class *="two-col-title-box"]{
  width:30%;
  display: flex;
}

.two-col-title-inner{
  width:70%;
  margin:auto;
  margin-left: 15%;
}
.two-col-title-inner h4{
  margin-bottom: 15px;
}
.two-col-title-inner h3{
  margin-bottom: 50px;
}

.two-col-title-box-red h4{
  color:#AC6161;
}

.two-col-title-box-red h3{
  color:#F25050;
}

.two-col-title-box-yellow h4{
  color:#97813B;
}

.two-col-title-box-yellow h3{
  color:#ECBF2F;
}

.two-col-title-box-blue h4{
  color:#133D6B;
}

.two-col-title-box-blue h3{
  color:#59A7FF;
}

.two-col-image{
  width:70%;
  position: relative;
}
.two-col-image-inner{
  width:100%;
  height:100%;
  background-size: cover;
  background-position: 50%;
}
.two-col-image-inner h5{
  position: absolute;
  bottom:10%;
  left:10%;
  padding: 10px 20px;
  border-radius: 6px;
}
.two-col-image-yellow{
  background-color: rgba(255, 239, 188, 0.75);
  color:#97813B;
}
.two-col-image-red{
  background-color: rgba(255, 215, 215, 0.75);
  color:#AC6161;
}

@media screen and (max-width: 1024px){
  section[class *="two-col"]{
    display: block;
    height:600px;
    position: relative;
  }
  div[class *="two-col-title-box"]{
    width: 100%;
 
  }
  .two-col-right-text div[class *="two-col-title-box"]{
    position: relative;
    top:-40%;
  }
  .two-col-right-text .two-col-image{
    position: relative;
    top:60%;
  }

  .two-col-title-inner{
    padding: 50px 0;
  }
  .two-col-image{
    height:45%;
    width: 100%;
  }
  .two-col-image-inner h4{
    left:0;
  }
}
/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  

/* 
////////////////////////////////////////////////////////////////
//////////////////BENEFITS SECTION STYLES///////////////////////
////////////////////////////////////////////////////////////////
*/
.offer-outer {
  background-color: #FFF5D4;
}

.offer-row-title{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.offer-row-title h4{
  margin-bottom: 15px;
  color:#97813B;
  text-align: center;
}

.offer-row-title h5{
  margin-bottom: 0x;
  color:#767676;
  text-align: center;
}

.offer-item{
  flex:1;
  margin:10px;
}

.offer-item-icon-outer{
  padding: 20px;
  width:25%;
  margin:auto;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.03);
}

.offer-item-icon{
  width:100%;
  height:0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.offer-item-text{
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.offer-item-text h4{
  color:#ECBF2F;
  padding-bottom: 15px;
  text-align: center;
}

.offer-item-text h5{
  color:#767676;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .offer-item-icon-outer{
    padding: 15px;
  }

  .offer-item{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
  }

  .offer-item-text{
    margin-bottom: 0;
  }
}
/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  


/* 
////////////////////////////////////////////////////////////////
//////////////////MISSION SECTION STYLES////////////////////////
////////////////////////////////////////////////////////////////
*/

/* 
/////////////////////
//////image row//////
/////////////////////
*/
.image-row{
  display: flex;
  width:100%;
  height:400px;
}

.image-item{
  flex-grow: 1;
  height:100%;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
}

@media screen and (max-width: 768px){
  .image-row{
    display: block;
  }

  .image-item{
    height:50%;
  }

  .image-item:first-child{
    margin-bottom: 5px;
  }
}

/* 
/////////////////////
////// mission //////
/////////////////////
*/
.mission-outer{
  background-color: #E6F3FF;
}

.mission-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-inner h4{
  margin-bottom: 30px;
  color:#59A7FF;
}

.mission-inner p{
  font-size: 20px;
  color:#767676;
}

.mission-inner-signature{
  margin-top: 40px;
}
/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  
/* 
////////////////////////////////////////////////////////////////
//////////////////NEWSLETTER SECTION STYLES/////////////////////
////////////////////////////////////////////////////////////////
*/
.newsletter-outer{
  background-color: #fff;
  
}

/* 
/////////////////////
///left text part////
/////////////////////
*/
.newsletter-text{
  width:60%;
}

.newsletter-title,
.newsletter-card h1{
  color: #F25050;
  margin-bottom: 20px;
}

.newsletter-text h4,
.newsletter-text p{
  color: #AC6161;
  margin-bottom: 20px;
}

.newsletter-input {
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 30px;
}

.newsletter-email-svg-container {
  display: flex;
  justify-content: end;
}

.newsletter-email-svg {
  width: 30px;
  height: 30px;
  position: relative;
  left: -5px;
  top: -70px;
}

.newsletter-email-svg:focus {
  display: none;
}

/* 
/////////////////////
///right card part///
/////////////////////
*/
.newsletter-card{
  width:40%;
  margin-left: 100px;
  box-sizing: border-box;
  background-color: #FFEAEA;
  border-radius: 8px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}

.newsletter-card-inner{
  width:100%;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}
.newsletter-card h1,
.newsletter-card h5{
  display: inline-block;
}
.newsletter-card h1{
  margin:auto 0;
}
.newsletter-card h5{
  color: #AC6161;
  margin-bottom: 5px;
}
.newsletter-card-saleTag{
  width:15%;
  display: inline-block;
  margin-right: 10px;
  min-width: 50px;
}


@media screen and (max-width: 1024px){
  .newsletter-text,
  .newsletter-card{
    width:100%;
  }
  .newsletter-card{
    margin-top: 70px;
    margin-left: 0;
  }
  .newsletter-card-inner{
    display: flex;
  }
  .newsletter-card-saleTag{
    width:8%;
    
  }
}

@media screen and (max-width: 768px){
  .newsletter-card-saleTag{
      display: none;
  }
}
/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  


/* 
////////////////////////////////////////////////////////////////
//////////////////FOOTER SECTION STYLES/////////////////////////
////////////////////////////////////////////////////////////////
*/

footer {
  background-color: rgba(255,245,212,0.5);
  padding:50px 0;
}

.footer-inner{
  width:70%;
  margin:auto
}

.footer-nav-list{
  width:100%;
}

.footer-list-col{
  flex:1;
}

.footer-list-col-title{
  color:#97813B;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-list-col-item{
  margin: 6px 0;
}

.footer-list-col-item a,
.footer-nav-contact p,
.footer-nav-contact a{
  color:#767676;
  font-size: 20px;
  text-transform: capitalize;
}

.footer-nav-contact p{
  margin-bottom:15px;
  line-height: 130%;
}

.footer-social-links{
  margin-top: 10px;
  cursor: pointer;
}

.footer-social-links a{
  margin-right: 10px;
}

.footer-subfooter p,
.footer-subfooter a{
  color:#767676;
}

.footer-copyright ul li {
  display: inline-block;
  font-size: 0.8125rem;
  padding: 5px 0;
}

.footer-copyright ul li p,
.footer-copyright ul li a  {
  padding: 0 10px;
  border-right: 1px solid black;
}

.footer-copyright ul li:last-child a {
  border-right: none;
}

.footer-subfooter {
  padding-top: 30px;
  text-align: center;
}

.footer-design-text {
  padding: 10px 0 30px;
  font-size: 0.8125rem;
}

.footer-design-text a {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px;
}

.footer-design-text a:hover,
.footer-design-text a:focus{
  color:#59A7FF;
}

@media screen and (min-width:1024px) {
  .footer-mobile-expand,
  .footer-mobile-collapse{
    display:none;
  }

  .footer-list-col-item,
  .footer-nav-contact{
    display: block;
  }
}

@media screen and (max-width:1024px) {
  .footer-nav-list,
  .footer-nav{
    display: block;
  }

  .footer-nav-contact{
    margin-left: 0;
    width:100%;
  }
  
  .footer-list-col{
    margin-bottom: 20px;
  }

  .footer-mobile-expand{
    margin-left: 5px;
    border:none;
    font-size: 30px;
    background: none;
    color:#97813B;
  }

  .footer-list-col-item{
    padding: 6px 0;
  }

  .footer-copyright ul li{
    display: block;
  }

  .footer-copyright ul li p,
  .footer-copyright ul li a  {
    padding: 0;
    border-right: none;
  }
}

/* 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
  